---
BasedOnStyle: Google
AlignConsecutiveDeclarations: 'true'
AlignOperands: 'true'
BreakBeforeBraces: Allman
SpacesInSquareBrackets: 'false'
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: 'false'
AllowShortLoopsOnASingleLine: 'true'
IndentWidth: '3'
AllowShortBlocksOnASingleLine: 'true'
...
