---
BasedOnStyle: Google
AlignConsecutiveDeclarations: 'true'
AlignOperands: 'true'
SpacesInParentheses: 'true'
SpacesInSquareBrackets: 'true'
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: 'true'
AllowShortLoopsOnASingleLine: 'true'
IndentWidth: '2'
AllowShortBlocksOnASingleLine: 'true'
...
